body {
    background: linear-gradient(217deg, rgba(255, 230, 0, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(238, 137, 226, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(125, 0, 255, 0.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
    margin: 0px;
    }

h1 {font-size:  50px;
    text-align: center;
    font-family: Helvetica;
    padding-bottom: 30px;
    color: ghostwhite;
    font-weight: bold;
    width: 100%;
    margin-top: 0;
    padding-top: 30px;
    background-color: rgba(138, 43, 226, 0.33);
    letter-spacing: 6vw;
}
#wrap {align-content: center;
    width: 830px;
    height: 830px;
    /*background-color: rgba(72, 61, 139, 0.26);*/
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 10px 10px;
    padding: 10px;

}
.cards{

    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.39);
    background-color: antiquewhite;
    border-radius: 15px;
    display: inline-grid;
    transition: 0.3s;
    align-content: center;
    text-align: center;

}
.cards:hover{
    margin:-10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.36);
    z-index: 3;

}
 .schuffle{
     border-radius: 10px;
     width: 200px;
     display: block;

     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     margin-top: 30px;
     font-size: 20px;
     font-weight: bold;
     margin-right: auto;
     margin-left: auto;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 90%;
    width: 90%;
}
.readycards{

    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.39);
    background-color: #db7d00;
    border-radius: 15px;
    display: inline-grid;
    transition: 0.3s;
    align-content: center;
    text-align: center;

}